
<nav class="navbar navbar-expand-lg " style="background-color: #bb242b">
    <div class="container-fluid" ">
        <a href="/" title="Türkiye Petrolleri Anonim Ortaklığı">
            <img src="https://www.tpvakif.org.tr/wp-content/uploads/2018/08/tp-vakif-tp-logo-haberler.png" class="mb-1" title="Türkiye Petrolleri Anonim Ortaklığı" alt="Türkiye Petrolleri Anonim Ortaklığı" style="max-height: 50px;">
        </a>
@*        <a class="navbar-brand" href="#" style="color: #ffffff">TPAO</a>
*@        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="#" style=" color: #ffffff ">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 " style=" color: #ffffff " href="#">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#" style=" color: #ffffff ">Tarihçe</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style=" color: #ffffff ">
                        Kullanıcı İşlemleri
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Giriş</a></li>
                        <li><a class="dropdown-item" href="#">Kayıt Ol</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
                <li class="nav-item mx-2">
                    <a class="nav-link h6" target="blank" href="https://www.instagram.com/trpetrolleri" style=" color: #ffffff "><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link h6" href="https://twitter.com/trpetrolleri?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank" style=" color: #ffffff "><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link h6" href="https://www.facebook.com/trpetrolleri/?locale=tr_TR" target="blank" style=" color: #ffffff "><i class="fab fa-facebook-square"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


