################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TpaoProject1/appsettings.json
/TpaoProject1/bin/Debug/net6.0/appsettings.json
/TpaoProject1/Model/WellTop.cs
/TpaoProject1/Services
TpaoProject1/appsettings.json
*.dll
*.dll
*.cache
