<head>
    <style>

        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
    </style>
</head>


<div class="single-blog-details sec-spacer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="sayfa-bolum-title">
                    <h2>Tarihçe</h2>
                </div>


                <p>Türkiye Petrolleri Anonim Ortaklığı (TPAO), Türkiye'nin en önemli enerji şirketlerinden biridir ve devlet kontrolünde faaliyet göstermektedir. 1954 yılında kurulan TPAO, Türkiye'nin petrol ve doğalgaz kaynaklarını araştırmak, keşfetmek, üretmek ve işletmek amacıyla faaliyetlerini sürdürmektedir.</p>

                <p>TPAO'nun temel amacı, Türkiye'nin enerji bağımsızlığını ve güvenliğini sağlamak için yerli enerji kaynaklarını keşfetmek ve üretmektir. Şirket, hem karada hem de denizde petrol ve doğalgaz arama ve üretim faaliyetleri yürütmektedir. Türkiye'nin kara sularında ve karasal alanlarında bulunan potansiyel rezervleri belirlemek ve üretmek için modern teknolojileri kullanmaktadır.</p>

                <p>TPAO, hem doğal gaz hem de petrol alanında faaliyet göstermektedir. Doğalgaz üretimi için Türkiye'nin Karadeniz sahasında büyük bir proje olan TürkAkım Projesi'nde yer almaktadır. Bu proje, Karadeniz'in altından geçen bir doğalgaz boru hattı inşa ederek Türkiye'ye doğalgaz sağlamaktadır. Ayrıca, TPAO'nun Karadeniz'de gerçekleştirdiği kendi doğalgaz keşifleri de bulunmaktadır.</p>

                <p>Petrol alanında ise TPAO, Türkiye'nin farklı bölgelerinde petrol arama ve üretim faaliyetlerini sürdürmektedir. Şirket, Türkiye'nin petrol rezervlerini artırmak ve ülkenin enerji ihtiyaçlarını karşılamak için aktif olarak çalışmaktadır. TPAO'nun yurt içindeki projeleri arasında Mezopotamya Havzası, Trakya ve Güneydoğu Anadolu bölgelerindeki faaliyetler bulunmaktadır.</p>

                <p>TPAO, aynı zamanda yurt dışında da faaliyetler yürütmektedir. Şirket, çeşitli ülkelerde petrol ve doğalgaz arama, üretim ve işletme faaliyetleri gerçekleştirmektedir. Bu faaliyetler, Türkiye'nin enerji arzını çeşitlendirmek ve enerji güvenliğini sağlamak amacıyla yapılmaktadır.</p>

                <p>TPAO, sadece arama ve üretim faaliyetlerine odaklanmakla kalmayıp aynı zamanda rafineri işletmeciliği, dağıtım, depolama ve ihracat gibi alanlarda da faaliyet göstermektedir. Böylece, enerji sektörünün farklı aşamalarında etkin bir rol oynamaktadır.</p>

                <p class ="mb-5">Sonuç olarak, TPAO Türkiye'nin devlet kontrolündeki ana enerji şirketi olarak yerli petrol ve doğalgaz kaynaklarının araştırılması, üretilmesi ve işletilmesinde önemli bir rol oynamaktadır. Şirket, Türkiye'nin enerji güvenliğini sağlamak ve enerji bağımsızlığını desteklemek amacıyla çalışmalarını sürdürmektedir.</p>

              
                <!-- AddToAny BEGIN -->

                <script async="" src="/js/share.js"></script>
                <!-- AddToAny END -->

            </div>
        </div>
    </div>
</div>