@using Microsoft.AspNetCore.Identity;
@using TpaoProject1.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager

<head>
    <style>
        .image-fatih {
            position: revert;
            top: 20px;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>


<div class="col-lg-12">
    @{
        if (!SignInManager.IsSignedIn(User))
        {
            <a href="/" title="Türkiye Petrolleri Anonim Ortaklığı">
                <img src="https://trthaberstatic.cdn.wp.trt.com.tr/resimler/1900000/dogalgaz-sondaj-gemisi-aa-1900011.jpg" class="image-fatih" title="Türkiye Petrolleri Anonim Ortaklığı" alt="Türkiye Petrolleri Anonim Ortaklığı">
            </a>
        }
        else
        {
            <a asp-controller="ViewWelltops" asp-action="MainPage" title="Türkiye Petrolleri Anonim Ortaklığı">
            </a>
        }
    }


</div>
