<head>
    <style>
        .FlexContainer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: baseline;
            background-color: #edede9;
            height: 80vh;
            width: 80vh;
            overflow: auto;
            flex-direction: row;
            margin-left: 50vh;
        }

        .attribute a {
            display: flex;
            border-radius: 8px;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: baseline;
            background: #4c956c;
            color: #fff;
            padding: 5px 10px;
            overflow: auto;
            text-decoration: none;
        }

        .form-control {
            margin-top: 10px;
            position: relative;
            margin-bottom: 1rem;
        }

        .content-center {
            width: 100%;
            padding: 15px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .content-box {
            width: 100%;
            max-width: 420px;
            min-width: 320px;
            margin: auto;
        }

        .text-center {
            text-align: center !important;
        }

        .text-system {
            color: #ed1c25 !important;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #ed1c25;
            border-color: #ed1c25;
        }

        .btn-block {
            display: block;
            width: 100%;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            color: #000000;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            background-color: #ced4da;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

    </style>
</head>



<div class="container-fluid full-height">
    <div class="row row-height">
        <div class="col-lg-12 content-center">
            <h1 class="d-none">Türkiye Petrolleri Anonim Ortaklığı | Şifre Yenile</h1>
            <h2 class="d-none">Türkiye Petrolleri Anonim Ortaklığı, yurt içi ve yurt dışında petrol - doğal gaz arama ve üretim faaliyetlerini yürüten, Türkiye’nin milli petrol şirketidir.</h2>
            <div class="content-center">
                <div class="content-box">
                    <div class="text-center">
                        <a href="/" title="Türkiye Petrolleri Anonim Ortaklığı">
                            <img src="https://bnastatic.blob.core.windows.net/odemetpaogovtr/img-firmlogo-65707" class="mb-2" title="Türkiye Petrolleri Anonim Ortaklığı" alt="Türkiye Petrolleri Anonim Ortaklığı" style="max-height: 70px;">
                        </a>
                    </div>
                    <div id="notify">
                    </div>

                    <div class="border p-4 rounded">
                        <form action="/forgot" class="form-signin" data-ajax="true" data-ajax-failure="ajaxError" data-ajax-method="POST" data-ajax-success="Notify" id="form0" method="post" novalidate="novalidate">
                            <input name="__RequestVerificationToken" type="hidden" value="PS64w_92aT3czVvyz2B1UI7BcZ6cLIfA8wHtz0rcUyVGVcezeICDNFuFM76H2myornDaeCpsBsxYiWWgxpBDO0rRB9x4QQdtlnNxnm8q4oE1">        <h4 class=" float-right" alt=""> Şifre Yenile</h4>
                            <hr class="mb-10 mt-10">
                            <div class="form-label-group" >
                                <input style="margin-top:15px; margin-bottom:15px;" type="text" id="email" name="email" class="form-control" placeholder="E-Posta" required="" autofocus="">
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Gönder</button>
                            <div style="margin-top:20px;"><a asp-area="Identity" asp-page="/Account/Login" class="text-system">Giriş yap</a><div class="gaps-2x"></div></div>
                        </form>
                    </div>
                </div>
            </div>
                    <div class="mb-5 mt-2 small text-center">
                        <div>Türkiye Petrolleri Anonim Ortaklığı</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
